services:
  backend:
    build: ./BE
    container_name: backend
    ports:
      - "8000:8000"

  frontend:
    build: ./UI
    container_name: frontend
    ports:
      - "9000:9000"
    depends_on:
      - backend

